<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MuseRelayURL</key>
	<string>$(MUSE_RELAY_URL)</string>
	<key>MuseRoom</key>
	<string>$(MUSE_ROOM)</string>
	<key>MuseNick</key>
	<string>$(MUSE_NICK)</string>
	<key>MusePublicTrip</key>
	<string>$(MUSE_PUBLIC_TRIP)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
